$color-base: #cccccc;
$color-letra: black;

$color-base-dark: #202020;
$color-letra-dark: rgb(255, 255, 255);

$dark-theme : false;
@if $dark-theme {
   $color-base: $color-base-dark;
   $color-letra: $color-letra-dark;
}

$color-red: red;
$color-green: green;
$color-orange: orange;
$color-purple: purple;

$lista-colores :$color-red, $color-green, $color-orange, $color-purple;