* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
.container{
    margin: 10px auto;
    
    position: relative;
    
}
/*header*/
header div{
    float: left;
    
}
header div img{
    width: 30%;
}
header aside{
    
    width: 22%;
    float: left;
   
    text-align: right;
    
}
header aside input{
    float: left;
    width: 80%;
   
}
#lupa{
    width: 15%;
}
#bandera{
    
    width: 10%;
}
/*navegador*/
nav{
   

    float: left;
    width: 100%;
    height: 50px;
    background-color:crimson;
    padding-bottom: 30px;
    color: white;
}
nav ul{
    list-style: none;
}

nav ul li{
    float: left;
    margin-right: 2%;
    margin-left: 1%;
   

}
nav ul li:hover{
    background-color: white;
    color: crimson;
    height: 100%;
    
}
#banner{
    float: left;
    width: 70%;
    margin-top: 10px;
}
.tweet{
    float: right;
    width: 30%;
    text-align: center;
   

}
#imagenes{
    width: 100%;
    
}
.cuadros{
    float: left;
    width: 70%;
    display: inline;
    
    
   
    
}
.cuadros div{
    border:2px solid crimson;
    width: 20%;
    border-radius: 10px;
    text-align: center;
    float: left;
    padding: 10px;
    margin: 10px;
    padding-bottom: 30px;
    
}
.cuadros img{
    width:40% ;
}


footer{
    float: left;
    text-align: center;
    background-color: crimson;
    width: 100%;
    color: white;
}

